<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NodeJS with Express

    include ./global/css.pug
  body
    p 문제가 발생했습니다... (에러코드: #{errorCode})