<!DOCTYPE html>
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title NodeJS + MySQL with Express

    block script
    block link

    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="/css/nav.css")
    link(rel="stylesheet", href="/css/article.css")
    link(rel="stylesheet", href="/css/footer.css")
  body
    header
      h1 NodeJS + MySQL with Express
    nav
      div a
      div b
      div c
    article
      block content
    footer this is footer
    